#committeelistings ul.index li {margin-bottom: 0.2em;}
#committeelistings ul.index li span.spaced {margin-bottom: 1.2em; display: block;}

#committeelistings #cornersearch {position: relative; top: -12px; right: 0;}
#committeelistings #editlink {clear: right; position: relative; top: -10px;}

#committeelistings ul.additionalpapers {margin-top: 6px;}
#committeelistings ul.additionalpapers li {font-size: 0.92em;}

#committeelistings table.meetings tr th, #committeelistings table.meetings tr td {padding-right: 20px;}
#committeelistings table.meetings tr td.edit {width: 70px;}
#committeelistings table.meetings tr td span.future {color: #999;}
#committeelistings .actions a, #committeelistings table.meetings tr td.edit a {margin-left: 4px; border: 1px solid #eee; padding: 5px; border-radius: 4px;}
#committeelistings .actions a:hover, #committeelistings table.meetings tr td.edit a:hover {background-color: #ddd; color: black; text-decoration: none;}

#committeelistings ul.tabs li a.empty {opacity: 0.6;}

#committeelistings img.restricted {opacity: 0.6;}

#committeelistings #cornersearch {margin-bottom: 0;}
#committeelistings h2 {padding-bottom: 10px;}